:root {
  --font: 'Open Sans', sans-serif, arial, Helvetica;
  --primary-color: #fe724c;
  --primary-hover-color: #e56744;
  --white-color: #ffffff;
  --text-color: #000000;
  --text-secondary-color: #5b5b5e;
  --separator-color: #d4d6e0;
  --info-color: #9ea1b1;
  --search-color: #9aa0b4;
  --search-background-color: #fcfcfd;
  --search-border-color: #efefef;
  --label-color: #c4c4c4;
}

body {
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  margin: 0;
  padding: 0;
}
